<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adding a new User</title>
</head>
<body>
  <h1>Add a new user</h1>
  <form action="{{ url_for('create_users') }}" method = "POST">
    <input type="text" name="first_name" placeholder="first name">
    <input type="text" name="last_name" placeholder="last name">
    <input type="text" name="image_url" placeholder="image url">
    <button>Submit User</button>
  </form>
</body>
</html>